
@import 'variables';

@each $color, $value in $theme-colors {
    .btn-#{$color} {
      background-color: $value;
      text-decoration: none;
      color: rgb(13, 13, 95);
      padding: .5rem 1rem;
      font-weight: 900;
      border-radius: 10px;
    }
}

.btn-oscuro, .btn-principal {
    color: white;
}

.fila{
    --separacion-x: 2.5rem;
    --separacion-y: 1;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--separacion-y)*-1);
    margin-right: calc(var(--separacion-x)/-2);
    margin-left: calc(var(--separacion-x)/-2);
    >*{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--separacion-x)/2);
    padding-left: calc(var(--separacion-x)/2);
    margin-top: var(--separacion-y);
    }
}

@for $i from 1 through 12 {
    .columna-#{$i}{
        flex: 1 0 (100% / 12)*$i;
        width: (100% / 12)*$i;
    }
}

$headingSize:(
    title1: 6rem,
    title2: 5rem,
    title3: 4rem,
    title4: 3rem,
    title5: 2rem,
    title6: 1rem
);

@each $key, $value in $headingSize{
    .#{$key}{
        font-size: $value;
        color: $blue;
    }
}

@mixin forma($tamañoForma, $fondoColor, $circular: false) {
    width: $tamañoForma;
    height: $tamañoForma;
    background-color: $fondoColor;
  
    @if $circular {
      border-radius: $tamañoForma / 2;
    }
  }
  
  .figuras__forma {
    @include forma(100px, #0073da, $circular: false);
    &--circle{
        @include forma(100px, #0dfc8c, $circular: true);
    }
  }
  