<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    
    <header>
        <img src="https://via.placeholder.com/250x75?text=Logo" alt="">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section id="branding">
        <div>
            <h1>Conoce un poco de nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi saepe velit praesentium veniam quod molestias, id fuga harum, eaque perferendis fugit? Velit exercitationem ipsam voluptatibus iure ipsum optio eveniet!</p>
        </div>
        <div>
            <img src="https://via.placeholder.com/600x600?text=Foto%20Vidriera" alt="">
        </div>
    </section>
    <section id="personal">
        <div>
            <img src="https://via.placeholder.com/100x100?text=Avatar1" alt="nombre 1">
            <p>Cargo</p>
            <h3>Nombre</h3>
        </div>
        <div>
            <img src="https://via.placeholder.com/100x100?text=Avatar2" alt="nombre 2">
            <p>Cargo</p>
            <h3>Nombre</h3>
        </div>
    </section>
    <section id="galeria">
        <h2>Galeria</h2>
        <div>
            <img src="https://via.placeholder.com/100x100?text=ImgGaleria" alt="1">
            <img src="https://via.placeholder.com/100x100?text=ImgGaleria" alt="2">
            <img src="https://via.placeholder.com/100x100?text=ImgGaleria" alt="3">
            <img src="https://via.placeholder.com/100x100?text=ImgGaleria" alt="4">
            <img src="https://via.placeholder.com/100x100?text=ImgGaleria" alt="5">
            <img src="https://via.placeholder.com/100x100?text=ImgGaleria" alt="6">
        </div>
    </section>
    <footer>
        <div id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div>
            <a href="#">
                <i3>Facebook</i3>
            </a>
            <a href="#">
                <i3>Instagram</i3>
            </a>
            <a href="#">
                <i3>Whatsapp</i3>
            </a>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x75?text=Logo" alt="Logo">
            <ul>
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Políticas de cookies</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>