<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    
    <header>
        <img src="https://via.placeholder.com/250x75?text=Logo" alt="">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        <h1>Servicios</h1>
    </section>
    <section id="servicios">
        <div>
            <div>
                <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias pariatur tempora iure unde quibusdam sint aspernatur. Voluptas pariatur at voluptatum, laboriosam, minus iste dolore doloremque, doloribus placeat sequi adipisci.</p>
                <p>$250</p>
            </div>
            <div>
                <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias pariatur tempora iure unde quibusdam sint aspernatur. Voluptas pariatur at voluptatum, laboriosam, minus iste dolore doloremque, doloribus placeat sequi adipisci.</p>
                <p>$250</p>
            </div>
            <div>
                <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias pariatur tempora iure unde quibusdam sint aspernatur. Voluptas pariatur at voluptatum, laboriosam, minus iste dolore doloremque, doloribus placeat sequi adipisci.</p>
                <p>$250</p>
            </div>
            <div>
                <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias pariatur tempora iure unde quibusdam sint aspernatur. Voluptas pariatur at voluptatum, laboriosam, minus iste dolore doloremque, doloribus placeat sequi adipisci.</p>
                <p>$250</p>
            </div>
            <div>
                <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias pariatur tempora iure unde quibusdam sint aspernatur. Voluptas pariatur at voluptatum, laboriosam, minus iste dolore doloremque, doloribus placeat sequi adipisci.</p>
                <p>$250</p>
            </div>
            <div>
                <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias pariatur tempora iure unde quibusdam sint aspernatur. Voluptas pariatur at voluptatum, laboriosam, minus iste dolore doloremque, doloribus placeat sequi adipisci.</p>
                <p>$250</p>
            </div>
        </div>
    </section>
    <footer>
        <div id="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div>
            <a href="#">
                <i3>Facebook</i3>
            </a>
            <a href="#">
                <i3>Instagram</i3>
            </a>
            <a href="#">
                <i3>Whatsapp</i3>
            </a>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x75?text=Logo" alt="Logo">
            <ul>
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Políticas de cookies</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>