<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
</head>
<body>

    <header>
        <img src="https://via.placeholder.com/250x75?text=Logo" alt="">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <img src="https://via.placeholder.com/1920x500?text=HeroImgFullWidth" alt="Hero Image">
    </section>
    <section id="productos">
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p>250$</p>
                    <a href="#">Agregar al Carrito</a>
                    <a href="#">Comprar Ahora!</a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p>250$</p>
                    <a href="#">Agregar al Carrito</a>
                    <a href="#">Comprar Ahora!</a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p>250$</p>
                    <a href="#">Agregar al Carrito</a>
                    <a href="#">Comprar Ahora!</a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p>250$</p>
                    <a href="#">Agregar al Carrito</a>
                    <a href="#">Comprar Ahora!</a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p>250$</p>
                    <a href="#">Agregar al Carrito</a>
                    <a href="#">Comprar Ahora!</a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p>250$</p>
                    <a href="#">Agregar al Carrito</a>
                    <a href="#">Comprar Ahora!</a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i>*</i><i>*</i><i>*</i><i>*</i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div>
            <a href="#">
                <i3>Facebook</i3>
            </a>
            <a href="#">
                <i3>Instagram</i3>
            </a>
            <a href="#">
                <i3>Whatsapp</i3>
            </a>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x75?text=Logo" alt="Logo">
            <ul>
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Políticas de cookies</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>