<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Tienda</title>
</head>
<body>

    <header>
        <img src="https://via.placeholder.com/250x75?text=Logo" alt="">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <iframe width="1920" height="533" src="https://www.youtube.com/embed/1jdknVf5mxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section id="productos">
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p><span>250$</span></p>
                    <a href="#" class="add-to-cart">Agregar al Carrito</a>
                    <a href="#" class="comprar">Comprar Ahora!</a>
                </div>
                <div>
                   
                        <ul class="tabs">
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X" class="tabla">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p><span>250$</span></p>
                    <a href="#" class="add-to-cart">Agregar al Carrito</a>
                    <a href="#" class="comprar">Comprar Ahora!</a>
                </div>
                <div>
                    
                        <ul class="tabs">
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X" class="tabla">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p><span>250$</span></p>
                    <a href="#" class="add-to-cart">Agregar al Carrito</a>
                    <a href="#" class="comprar">Comprar Ahora!</a>
                </div>
                <div>
                    
                        <ul class="tabs">
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X" class="tabla">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p><span>250$</span></p>
                    <a href="#" class="add-to-cart">Agregar al Carrito</a>
                    <a href="#" class="comprar">Comprar Ahora!</a>
                </div>
                <div>
                    
                        <ul class="tabs">
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X" class="tabla">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p><span>250$</span></p>
                    <a href="#" class="add-to-cart">Agregar al Carrito</a>
                    <a href="#" class="comprar">Comprar Ahora!</a>
                </div>
                <div>
                    
                        <ul class="tabs">
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X" class="tabla">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x150?text=Producto" alt="Producto">
            <h3>Nombre del producto</h3>
            <input type="number" name="cantidad" />
            <p>$250</p>
            <a href="#modal-X">Ver Producto</a>
            <div id="modal-X">
                <div>
                    <img src="https://via.placeholder.com/500x300?text=ImagenModal" alt="ImagenModal">
                    <h3>Nombre Producto del Modal</h3>
                    <input type="number" name="cantidad">
                    <p><span>250$</span></p>
                    <a href="#" class="add-to-cart">Agregar al Carrito</a>
                    <a href="#" class="comprar">Comprar Ahora!</a>
                </div>
                <div>
                    
                        <ul class="tabs">
                            <li><a href="#">Descripcion</a></li>
                            <li><a href="#">Valoracion</a></li>
                        </ul>
                        <div id="descripcion-X" class="tabla">
                            <table>
                                <thead>
                                    <th>Caracteristicas</th>
                                    <th>Ingredientes</th>
                                    <th>Beneficios</th>
                                </thead>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>Caracteristica 1</li>
                                            <li>Caracteristica 2</li>
                                            <li>Caracteristica 3</li>
                                            <li>Caracteristica 4</li>
                                            <li>Caracteristica 5</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Ingrediente 1</li>
                                            <li>Ingrediente 2</li>
                                            <li>Ingrediente 3</li>
                                            <li>Ingrediente 4</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Beneficio 1</li>
                                            <li>Beneficio 2</li>
                                            <li>Beneficio 3</li>
                                            <li>Beneficio 4</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="valoracion-X">
                            <ul>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                                <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste doloribus neque laboriosam earum velit blanditiis, aliquid quia, rerum maiores labore quaerat vel dolorum eaque deleniti necessitatibus quae natus eum.</p></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div>
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <div>
            <img src="https://via.placeholder.com/250x75?text=Logo" alt="Logo">
            <ul>
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Políticas de cookies</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>